/autom4te.cache/
/config/*
!/config/.dirstamp
/build/*
!/build/.dirstamp
/m4/*
!/m4/.dirstamp

*~
*.o
.cproject
.project
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
configure.scan

# for other platforms
*.slo
*.lo
*.obj
*.cache
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib